{% extends 'poll/base.html' %}
{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>About The Poll</h1>
                <p>
                    The /r/CFB Poll is the weekly top 25 NCAA college football poll
                    build by and for members of <a href="https://reddit.com/r/CFB/">/r/CFB</a>,
                    the home of college football on <a href="https://reddit.com/">reddit</a>. Each
                    week a representative sample of users from the "subreddit" submit ballots
                    that collectively are meant to take a pulse on the opinions of
                    <a href="https://reddit.com/r/CFB/">/r/CFB</a>'s userbase.
                </p>
                <p>
                    Poll voters have been selected from an annual application process and are required
                    to participate in the poll for as long as they are a voting member. Each season
                    new members are selected based upon the quality of their contributions on
                    <a href="https://reddit.com/r/CFB/">/r/CFB</a> as well as the balance needs of the
                    poll to make sure that the sample of voters is representative of the fanbases that
                    are most active.
                </p>
                <p>
                    Each year the poll has steadily grown both in terms of number of voters, the
                    number of fanbases represented, and the amount of effort expended upon voting
                    and the analysis done to highlight the votes. Each week, in addition to the results
                    being made available on this site, a weekly thread is posted to
                    <a href="https://reddit.com/r/CFB/">/r/CFB</a>
                    (<a href="https://www.reddit.com/r/CFB/comments/3qfcjq/week_9_rcfb_poll_1_clemson_2_ohio_state_3_lsu_4/?ref=search_posts">example</a>)
                    to give voters and non-voters the opportunity to discuss the votes and the rationale
                    they used in selecting their entries. The /r/CFB Poll is committed to openness in
                    the voting procedures and in the votes and releases every ballot to the public
                    each week so that the results are as transparent as possible.
                </p>
                <p>
                    2016 marks the seventh year of the poll, and it's our hope that it's the best one yet.
                </p>
                <p>
                    - John (/u/sirgippy)
                </p>
            </div>
        </div>
    </div>
{% endblock %}
