{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block content %}
    <script src="{% static 'javascript/ballot_viewer.js' %}"></script>
    <div class="container">
        <h2>Ballot Detail</h2>

        <form id="ballot-selector" action="/show_ballot/" method="get">
            <div class="form-group">
                <label id="username-label" for="username-selector">Username:</label>
                <select class="form-control" id="username-selector" name="username" form="ballot-selector" style="width: 200px">
                    {% for user in users %}
                        <option {% if user == ballot.user.username %}selected{% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <label id="poll-selector-label" for="year-selector">Poll:</label>
            <div class="form-group form-inline">
                <select class="form-control" id="year-selector" name="year" form="ballot-selector" style="width: 100px">
                    {% for year in years %}
                        <option {% if year == ballot.year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="week-selector" name="week" form="ballot-selector" style="width: 150px">
                    {% for week in weeks %}
                        <option {% if week == ballot.week %}selected{% endif %}>{{ week }}</option>
                    {% endfor %}
                </select>
                <span><a href="/poll/{{ ballot.poll.pk }}/">Go to poll results >></a></span>
            </div>
        </form>



        <p>
            <strong>Ballot Type:</strong> {{ ballot.poll_type }}
        </p>
        {% if not ballot.overall_rationale == None %}
            <p>
                <strong>Overall Rationale:</strong><br>
                {{ ballot.overall_rationale }}
            </p>
        {% endif %}
        <table class="table table-striped" style="width: auto;">
            <tr>
                <th>Rank</th>
                <th style="width: 300px">Team</th>
                <th>Reason</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.rank }}</td>
                    <td style="width: 300px">
                        <a href="/poll/{{ ballot.poll.pk }}/team/{{ entry.team.pk }}/">
                        {% with "images/full60/"|add:entry.team.handle|add:".png" as static_img %}
                            <img class="team-logo" src="{% static static_img %}">
                        {% endwith %}
                        {{ entry.team.name }}
                        </a>
                    </td>
                    <td>
                        {% if not entry.rationale == None %}
                            {{ entry.rationale }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <strong>Submitted:</strong>
            {{ ballot.submission_date|date:"D d M Y" }}
            {{ ballot.submission_date|time:"H:i" }}
        </p>
	</div>
{% endblock %}
