<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'favicon/android-chrome-192x192.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/ico" href="{% static 'favicon/favicon.ico' %}"/>
<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5 ">
<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#da532c ">
<meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}">
<meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">

<head>
    <title>/r/CFB Poll</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static 'javascript/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/poll.css' %}">
	<script src="{% static 'javascript/main.js' %}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">/r/CFB Poll</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/poll/">Polls</a></li>
							<li><a href="/show_ballots/">Ballots</a></li>
							<li><a href="/show_voters/">Voters</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>Coming Soon!</li>
						</ul>
					</li>
					<li><a href="/about/">About</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
                    {% if user and not user.is_anonymous %}
                        <p class="navbar-text">Welcome, {{user.username}}!</p>
						{% if user.is_staff %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
								<ul class="dropdown-menu">
                                    <li><a href="/admin/">Admin Console</a></li>
									<li><a href="/messenger/">Messenger</a></li>
								</ul>
							</li>
						{% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/my_ballots/">My Ballots</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	
</body>
</html>
