<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <title>/r/CFB Poll</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/poll.css' %}">
	<script src="{% static 'javascript/main.js' %}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">/r/CFB Poll</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/poll/">Polls</a></li>
							<li><a href="#">Ballots</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">By Week</a></li>
							<li><a href="#">By User</a></li>
							<li><a href="#">By Team</a></li>
						</ul>
					</li>
					<li><a href="#">About</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
                    {% if user and not user.is_anonymous %}
                        <p class="navbar-text">Welcome, {{user.username}}!</p>
						{% if user.is_staff %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/messenger">Messenger</a></li>
								</ul>
							</li>
						{% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/my_ballots">My Ballots</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	
</body>
</html>
