{% extends 'poll/base.html' %}


{% block content %}
	<div class="jumbotron">
		<div class="container" id="welcome">
			<div class="row">
				<div class="col-md-2 col-xs-12"></div>
				<div class="col-md-8 col-xs-12">
					<h1>The /r/CFB Poll</h1>
					<p>Welcome to the /r/CFB poll, the weekly top 25 poll voted on and published by members of /r/CFB, the home of college football on Reddit.</p>
					<p><a class="btn btn-primary btn-lg" href="#" role="button">About the poll &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2>Current Top 25</h2>
				<p>...</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2>Something else idk lol</h2>
				<p>...</p>
			</div>
		</div>
	</div>
{% endblock %}
