{% extends 'poll/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron">
		<div class="container" id="welcome">
			<div class="row">
				<div class="col-md-2 col-xs-12"></div>
				<div class="col-md-8 col-xs-12">
                    <img id="main-logo" src="{% static 'images/poll.png' %}">
					<h1>The /r/CFB Poll</h1>
					<p>Welcome to the /r/CFB poll, the weekly top 25 poll voted on and published by members of /r/CFB, the home of college football on Reddit.</p>
					<p><a class="btn btn-primary btn-lg" href="/about/" role="button">About the poll &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2>Current Top 25</h2>
				<h3>{{ poll.year }} {{ poll.week }}</h3>
                <table class="table table-striped" style="width: auto;" id="current-results">
                    <tr>
                        <th>Rank</th>
                        <th>Change</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                    {% for rank in top25 %}
                        <tr>
                            <td id="team-rank">{{ rank.rank }}</td>
                            {% if rank.rank_diff == None or rank.rank|add:rank.rank_diff > 25 %}
                                <td><strong>NEW</strong></td>
                            {% elif rank.rank_diff > 0 %}
                                <td style="color: green;">+{{ rank.rank_diff }}</td>
                            {% elif rank.rank_diff < 0 %}
                                <td style="color: red;">{{ rank.rank_diff }}</td>
                            {% else %}
                                <td>--</td>
                            {% endif %}
                            <td id="team-name">
                                {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                <img class="team-logo" src="{% static static_img %}">
                                {% endwith %}
                                {{ rank.team.name }}
                                {% if fp_votes|lookup:rank.team.pk %}
                                    ({{ fp_votes|lookup:rank.team.pk }})
                                {% endif %}
                            </td>
                            <td id="team-points">{{ rank.points }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if dropped and dropped.count > 0 %}
                    <p>
                        <strong>Dropped:</strong>
                        {% for rank in dropped %}
                            #{{ rank.rank }} {{ rank.team.short_name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    <strong>Others Receiving Votes:</strong>
                    {% for rank in others %}
                        {{ rank.team.short_name }} {{ rank.points }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2>Biggest Movers</h2>
				<h3>Moving Up</h3>
                <table class="table table-striped" style="width: auto;">
                    <tr>
                        <th>Team</th>
                        <th>Points Per Voter</th>
                    </tr>
                    {% for rank in up_movers %}
                        <tr>
                            <td>
                                {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                <img class="team-logo" src="{% static static_img %}">
                                {% endwith %}
                                {{ rank.team.name }}
                            </td>
                            <td style="color: green;">+{{ rank.ppv_diff|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Falling Down</h3>
                <table class="table table-striped" style="width: auto;">
                    <tr>
                        <th>Team</th>
                        <th>Points Per Voter</th>
                    </tr>
                    {% for rank in down_movers %}
                        <tr>
                            <td>
                                {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                <img class="team-logo" src="{% static static_img %}">
                                {% endwith %}
                                {{ rank.team.name }}
                            </td>
                            <td style="color: red;">{{ rank.ppv_diff|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
			</div>
		</div>
	</div>
{% endblock %}
