{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block content %}
	<script src="{% static 'javascript/messenger.js' %}"></script>
    <div class="container">
		<h2>Messenger</h2>
        <form id="message-form" action="send_message/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label id="recipient-label">To:</label>
                <select class="form-control" id="recipient">
                    <option>Voters</option>
                </select>
            </div>

            <div class="form-group">
                <label id="title-label">Title:</label>
                <input type="text" class="form-control" id="title">
            </div>

            <div class="form-group">
                <label id="body-label">Message:</label>
                <textarea class="form-control" id="message-body" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-default" value="Send">
        </form>
        <br>
        <span id="messenger-results"></span>
	</div>
{% endblock %}
