{% extends 'poll/base.html' %}


{% block content %}
	<div class="container">
		<h3>Sorry :(</h3>
        <p>
			At this time voting is only open to active pollsters. <br>
            <br>
            Coming soon we plan to add a provisional ballot feature where there will be a separate poll
            released which includes any and all users which wish to participate, and then users for the main poll
            will be selected primarily out of those users which have been voting in the provisional poll. Please keep
            your eye out for that!
		</p>
	</div>
{% endblock %}
