{% extends 'poll/base.html' %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'javascript/poll_viewer.js' %}"></script>

	<div class="container">
        <h2>Poll Detail</h2>
        <div>
            <form id="poll-selector" action="/poll/" method="get">
                <select id="year-selector" name="year" form="poll-selector">
                    {% for year in years %}
                        <option {% if year == poll.year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <select id="week-selector" name="week" form="poll-selector">
                    {% for week in weeks %}
                        <option {% if week == poll.week %}selected{% endif %}>{{ week }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <br>
		<div class="row">
			<div class="col-xs-12 col-md-6">

                <table class="table table-striped" style="width: auto;">
                    <tr>
                        <th>Rank</th>
                        <th>Change</th>
                        <th>Team</th>
                        <th>Points</th>
                        <th id="ppv" data-toggle="tooltip" data-placement="top" title="Points Per Voter">PPV</th>
                    </tr>
                    {% for rank in top25 %}
                        <tr>
                            <td>{{ rank.rank }}</td>
                            {% if rank.rank_diff == None or rank.rank|add:rank.rank_diff > 25 %}
                                <td><strong>NEW</strong></td>
                            {% elif rank.rank_diff > 0 %}
                                <td style="color: green;">+{{ rank.rank_diff }}</td>
                            {% elif rank.rank_diff < 0 %}
                                <td style="color: red;">{{ rank.rank_diff }}</td>
                            {% else %}
                                <td>--</td>
                            {% endif %}
                            <td>
                                <a href="/poll/{{ poll.pk }}/team/{{ rank.team.pk }}/">
                                    {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                    <img class="team-logo" src="{% static static_img %}">
                                    {% endwith %}
                                    {{ rank.team.name }}
                                </a>
                                {% if fp_votes|lookup:rank.team.pk %}
                                    ({{ fp_votes|lookup:rank.team.pk }})
                                {% endif %}
                            </td>
                            <td>{{ rank.points }}</td>
                            <td>{{ rank.ppv|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if dropped and dropped.count > 0 %}
                    <p>
                        <strong>Dropped:</strong>
                        {% for rank in dropped %}
                            #{{ rank.rank }}
                            {{ rank.team.short_name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    <strong>Others Receiving Votes:</strong>
                    {% for rank in others %}
                        <a href="/poll/{{ poll.pk }}/team/{{ rank.team.pk }}/">
                            {{ rank.team.short_name }}
                        </a>
                        {{ rank.points }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Biggest Movers</h2>
                <h3>Moving Up</h3>
                <table class="table table-striped" style="width: auto;">
                    <tr>
                        <th>Team</th>
                        <th>Points Per Voter</th>
                    </tr>
                    {% for rank in up_movers %}
                        <tr>
                            <td>
                                <a href="/poll/{{ poll.pk }}/team/{{ rank.team.pk }}/">
                                {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                <img class="team-logo" src="{% static static_img %}">
                                {% endwith %}
                                {{ rank.team.name }}
                                </a>
                            </td>
                            <td style="color: green;">+{{ rank.ppv_diff|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Falling Down</h3>
                <table class="table table-striped" style="width: auto;">
                    <tr>
                        <th>Team</th>
                        <th>Points Per Voter</th>
                    </tr>
                    {% for rank in down_movers %}
                        <tr>
                            <td>
                                <a href="/poll/{{ poll.pk }}/team/{{ rank.team.pk }}/">
                                {% with "images/full60/"|add:rank.team.handle|add:".png" as static_img %}
                                <img class="team-logo" src="{% static static_img %}">
                                {% endwith %}
                                {{ rank.team.name }}
                                </a>
                            </td>
                            <td style="color: red;">{{ rank.ppv_diff|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div>
                    <h3>
                        <a href="/poll/{{ poll.pk }}/ballots/">View Ballots >></a>
                    </h3>
                    <h3>
                        <a href="/poll/{{ poll.pk }}/voters/">View Voter List >></a>
                    </h3>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
